/* global styles */
html {
	height: 100%;
	box-sizing: border-box;
	background: #000000;
	color: #ffffff;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	zoom: 1;
	padding-bottom: 3rem;
	min-height: 100%;
	font: 14px/16px 'Unica One', Helvetica, Arial, sans-serif;
}

a {
	color: #ffffff;
}

a:hover, a:focus {
	color: #ababab;
}

section {
	position: relative;
}

/* crafted tag */
.crafted {
	font: 14px/16px 'Unica One', Helvetica, Arial, sans-serif;
	position: absolute;
	display: block;
	top: 1rem;
	left: 1rem;
	color: #ffffff;
	z-index: 100;
}

.crafted a {
	color: #ffffff;
}

/* intro */
.intro {
	width: 100%;
	height: 70rem;
	padding-top: 5rem;
	background: black url('../images/earthrise.jpg') no-repeat bottom center;
	background-size: 100% auto;
	font-family: 'Exo 2', sans-serif;
	font-size: 3rem;
	text-align: center;
}

.intro h1 {
	color: #ffffff;
	margin: 1rem auto 4rem;
	line-height: 1em;
}

.intro a.btn {
	font-weight: 200;
	font-size: 1.5rem;
	display: inline-block;
	margin: 2rem auto;
	padding: 1rem;
	text-decoration: none;
	color: #ffffff;
	background-color: #000000;
	border: 1px solid #ffffff;
}

.intro a:hover.btn {
	transition: background-color 0.5s ease;
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #000000;
}

.intro .content {
	font-size: 0.85rem;
	line-height: 1.2rem;
	width: 75%;
	text-align: left;
	margin: 0 auto;
	font-family: 'Source Serif Pro', TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
	column-count: 3;
}

.intro .content p {
	margin: 0 0 1rem;
}

@media screen and (max-width: 1200px) {
	.intro .content {
		column-count: 2;
	}
}

@media screen and (max-width: 800px) {
	.intro .content {
		column-count: 1;
	}
}

/* site footer */
.site-footer {
	background: #000000;
	color: #ffffff;
	text-align: center;
	padding: 1rem;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

/* mars landing */
.mars-landing {
	position: relative;
	width: 100%;
	height: 65rem;
	background: #435d70;
	overflow: hidden
}

.mars-landing blockquote {
	font-family: 'Vollkorn', TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
	width: 50%;
	margin: 5rem auto;
}

.mars-landing blockquote p {
	font-size: 3rem;
	line-height: 3rem;
}

.mars-landing blockquote cite {
	display: block;
	text-align: right;
}

@media screen and (max-width: 800px) {
	.mars-landing blockquote p {
		font-size: 2rem;
		line-height: 2rem;
	}
}

.mars-landing .mars {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2
}

.mars-landing .mars .tentacle {
	position: absolute;
	top: -60px;
	right: -80px;
	z-index: 1;
	height: 70px;
	width: 70px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 100%;
	border-left: 15px solid #1aae1e;
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
	-webkit-animation: tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
	animation: tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
}

.mars-landing .mars .flag {
	position: absolute;
	height: 17px;
	width: 15px;
	top: -57px;
	left: -1px;
	-webkit-animation: flag-pole 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
	animation: flag-pole 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
}

.mars-landing .mars .flag:before {
	content: "";
	position: absolute;
	height: 17px;
	width: 2px;
	background: #eee
}

.mars-landing .mars .flag:after {
	content: "";
	position: absolute;
	height: 10px;
	width: 14px;
	left: 2px;
	top: 0;
	background: #aaa;
	-webkit-animation: flag-unfurl 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
	animation: flag-unfurl 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
}

.mars-landing .mars .flag .small-tentacle {
	position: absolute;
	left: -16px;
	top: 3px;
	height: 50px;
	width: 50px;
	border-left: 10px solid #1aae1e;
	border-radius: 100%;
	-webkit-transform: rotate(25deg);
	transform: rotate(25deg);
	-webkit-animation: small-tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
	animation: small-tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
	z-index: 2
}

.mars-landing .mars:before {
	content: "";
	position: absolute;
	top: 80px;
	left: -30px;
	height: 10px;
	width: 60px;
	background: rgba(0, 0, 0, 0.2);
	background: #374d5c;
	border-radius: 100%
}

.mars-landing .mars .planet {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	border-radius: 100%;
	height: 120px;
	width: 120px;
	overflow: hidden;
	margin-left: -60px;
	margin-top: -60px;
	z-index: 2
}

.mars-landing .mars .planet .surface {
	position: absolute;
	border-radius: 100%;
	height: 140%;
	width: 140%;
	top: -30%;
	right: -10%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 30px solid rgba(0, 0, 0, 0.15);
	background: #ff5f40
}

.mars-landing .mars .planet .crater1, .mars-landing .mars .planet .crater2, .mars-landing .mars .planet .crater3 {
	position: absolute;
	border-radius: 100%;
	background: rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 3px 3px 0 rgba(0, 0, 0, 0.2);
	box-shadow: inset 3px 3px 0 rgba(0, 0, 0, 0.2)
}

.mars-landing .mars .planet .crater1 {
	height: 20px;
	width: 20px;
	top: 32%;
	left: 17%
}

.mars-landing .mars .planet .crater2 {
	height: 10px;
	width: 10px;
	top: 26%;
	left: 55%;
	-webkit-box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.2);
	box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.2)
}

.mars-landing .mars .planet .crater3 {
	height: 10px;
	width: 10px;
	top: 60%;
	left: 40%;
	-webkit-box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.2);
	box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.2)
}

.mars-landing .ship {
	position: absolute;
	right: 50%;
	top: 50%;
	margin-top: -55px;
	margin-right: -55px;
	height: 22px;
	background: rgba(0, 0, 0, 0.1);
	-webkit-transform-origin: 0 100% 0;
	transform-origin: 0 100% 0;
	z-index: 1;
	-webkit-animation: ship 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
	animation: ship 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
}

.mars-landing .ship .ship-rotate {
	position: absolute;
	height: 22px;
	-webkit-transform: rotate(-110deg);
	transform: rotate(-110deg);
	-webkit-animation: ship-rotate 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
	animation: ship-rotate 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
}

.mars-landing .ship .pod {
	position: absolute;
	top: 0;
	left: -8px;
	height: 16px;
	width: 16px;
	background: #eee;
	border-radius: 100% 0 100% 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.mars-landing .ship .fuselage {
	position: absolute;
	top: 14px;
	left: -6px;
	height: 8px;
	width: 12px;
	background: #eee;
	border-radius: 100% 100% 0 0
}

.mars-landing .ship .fuselage:after {
	content: "";
	position: absolute;
	left: 2px;
	top: 100%;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid red
}

.mars-landing .ship-shadow {
	position: absolute;
	right: 10%;
	top: 50%;
	margin-right: -28px;
	margin-top: 83px;
	height: 4px;
	width: 16px;
	background: #374d5c;
	border-radius: 100%;
	-webkit-animation: ship-shadow 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
	animation: ship-shadow 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
}

@-webkit-keyframes small-tentacle {
	0% {
		-webkit-transform: rotate(-60deg);
		transform: rotate(-60deg)
	}
	86% {
		-webkit-transform: rotate(-60deg);
		transform: rotate(-60deg)
	}
	89% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg)
	}
	100% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg)
	}
}

@keyframes small-tentacle {
	0% {
		-webkit-transform: rotate(-60deg);
		transform: rotate(-60deg)
	}
	86% {
		-webkit-transform: rotate(-60deg);
		transform: rotate(-60deg)
	}
	89% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg)
	}
	100% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg)
	}
}

@-webkit-keyframes tentacle {
	0% {
		-webkit-transform: rotate(-30deg);
		transform: rotate(-30deg)
	}
	75% {
		-webkit-transform: rotate(-30deg);
		transform: rotate(-30deg)
	}
	80% {
		-webkit-transform: rotate(-165deg) translate(6px, 8px);
		transform: rotate(-165deg) translate(6px, 8px)
	}
	82.5% {
		-webkit-transform: rotate(-165deg) translate(28px, -17px);
		transform: rotate(-165deg) translate(28px, -17px)
	}
	100% {
		-webkit-transform: rotate(-165deg) translate(35px, -22px);
		transform: rotate(-165deg) translate(35px, -22px)
	}
}

@keyframes tentacle {
	0% {
		-webkit-transform: rotate(-30deg);
		transform: rotate(-30deg)
	}
	75% {
		-webkit-transform: rotate(-30deg);
		transform: rotate(-30deg)
	}
	80% {
		-webkit-transform: rotate(-165deg) translate(6px, 8px);
		transform: rotate(-165deg) translate(6px, 8px)
	}
	82.5% {
		-webkit-transform: rotate(-165deg) translate(28px, -17px);
		transform: rotate(-165deg) translate(28px, -17px)
	}
	100% {
		-webkit-transform: rotate(-165deg) translate(35px, -22px);
		transform: rotate(-165deg) translate(35px, -22px)
	}
}

@-webkit-keyframes ship {
	0% {
		right: -10%;
		top: -10%;
		margin-top: -55px;
		margin-right: -55px
	}
	40% {
		right: 50%;
		top: 50%
	}
	79.5% {
		margin-top: -55px;
		margin-right: -55px
	}
	84% {
		margin-top: -20px;
		margin-right: 0
	}
	100% {
		right: 50%;
		top: 50%;
		margin-top: 0;
		margin-right: 0
	}
}

@keyframes ship {
	0% {
		right: -10%;
		top: -10%;
		margin-top: -55px;
		margin-right: -55px
	}
	40% {
		right: 50%;
		top: 50%
	}
	79.5% {
		margin-top: -55px;
		margin-right: -55px
	}
	84% {
		margin-top: -20px;
		margin-right: 0
	}
	100% {
		right: 50%;
		top: 50%;
		margin-top: 0;
		margin-right: 0
	}
}

@-webkit-keyframes ship-rotate {
	0% {
		-webkit-transform: rotate(-110deg);
		transform: rotate(-110deg)
	}
	20% {
		-webkit-transform: rotate(-110deg);
		transform: rotate(-110deg)
	}
	34% {
		-webkit-transform: rotate(47deg);
		transform: rotate(47deg)
	}
	79% {
		-webkit-transform: rotate(47deg);
		transform: rotate(47deg)
	}
	100% {
		-webkit-transform: rotate(47deg);
		transform: rotate(47deg)
	}
}

@keyframes ship-rotate {
	0% {
		-webkit-transform: rotate(-110deg);
		transform: rotate(-110deg)
	}
	20% {
		-webkit-transform: rotate(-110deg);
		transform: rotate(-110deg)
	}
	34% {
		-webkit-transform: rotate(47deg);
		transform: rotate(47deg)
	}
	79% {
		-webkit-transform: rotate(47deg);
		transform: rotate(47deg)
	}
	100% {
		-webkit-transform: rotate(47deg);
		transform: rotate(47deg)
	}
}

@-webkit-keyframes ship-shadow {
	0% {
		right: -10%;
		-webkit-transform: scale(1.4, 1);
		transform: scale(1.4, 1);
		opacity: .3
	}
	40% {
		right: 50%;
		-webkit-transform: scale(0.75, 1);
		transform: scale(0.75, 1);
		opacity: 1
	}
	100% {
		right: 50%
	}
}

@keyframes ship-shadow {
	0% {
		right: -10%;
		-webkit-transform: scale(1.4, 1);
		transform: scale(1.4, 1);
		opacity: .3
	}
	40% {
		right: 50%;
		-webkit-transform: scale(0.75, 1);
		transform: scale(0.75, 1);
		opacity: 1
	}
	100% {
		right: 50%
	}
}

@-webkit-keyframes planet-bump {
	0% {
		margin-left: 0
	}
	39% {
		margin-left: 0
	}
	40% {
		margin-left: -1px
	}
	40.5% {
		margin-left: 1px
	}
	41% {
		margin-left: 0
	}
	100% {
		margin-left: 0
	}
}

@keyframes planet-bump {
	0% {
		margin-left: 0
	}
	39% {
		margin-left: 0
	}
	40% {
		margin-left: -1px
	}
	40.5% {
		margin-left: 1px
	}
	41% {
		margin-left: 0
	}
	100% {
		margin-left: 0
	}
}

@-webkit-keyframes flag-pole {
	0% {
		top: -57px
	}
	48% {
		top: -57px
	}
	54% {
		top: -77px
	}
	90% {
		top: -77px
	}
	92% {
		top: -57px
	}
	100% {
		top: -57px
	}
}

@keyframes flag-pole {
	0% {
		top: -57px
	}
	48% {
		top: -57px
	}
	54% {
		top: -77px
	}
	90% {
		top: -77px
	}
	92% {
		top: -57px
	}
	100% {
		top: -57px
	}
}

@-webkit-keyframes flag-unfurl {
	0% {
		width: 0
	}
	55% {
		width: 0
	}
	60% {
		width: 14px
	}
	90% {
		width: 14px
	}
	100% {
		width: 14px
	}
}

@keyframes flag-unfurl {
	0% {
		width: 0
	}
	55% {
		width: 0
	}
	60% {
		width: 14px
	}
	90% {
		width: 14px
	}
	100% {
		width: 14px
	}
}

/* moon orbit */
@keyframes rotate_earth {
	0% {
		background-position: 0 -2px
	}
	50% {
		background-position: 205px -2px
	}
	100% {
		background-position: 410px -2px
	}
}

@-moz-keyframes rotate_earth {
	0% {
		background-position: 0 -2px
	}
	50% {
		background-position: 205px -2px
	}
	100% {
		background-position: 410px -2px
	}
}

@-webkit-keyframes rotate_earth {
	0% {
		background-position: 0 -2px
	}
	50% {
		background-position: 205px -2px
	}
	100% {
		background-position: 410px -2px
	}
}

@-ms-keyframes rotate_earth {
	0% {
		background-position: 0 -2px
	}
	50% {
		background-position: 205px -2px
	}
	100% {
		background-position: 410px -2px
	}
}

@-o-keyframes rotate_earth {
	0% {
		background-position: 0 -2px
	}
	50% {
		background-position: 205px -2px
	}
	100% {
		background-position: 410px -2px
	}
}

.moon-orbit {
	position: relative;
	height: 65rem;
	background: #000 url("../images/moon-orbit/sky_star2.jpg") 0 0;
	width: 100%;
	-ms-overflow-x: hidden;
	overflow-x: hidden;
	margin: 0;
	-webkit-animation: sky 80s linear infinite;
	-moz-animation: sky 80s linear infinite;
	-ms-animation: sky 80s linear infinite;
	-o-animation: sky 80s linear infinite;
	animation: sky 80s linear infinite
}

.moon-orbit div#moon_holder {
	position: absolute;
	left: -30%;
	bottom: 60px;
	z-index: 6;
	-webkit-animation: launch_moon 240s linear infinite;
	-moz-animation: launch_moon 240s linear infinite;
	-ms-animation: launch_moon 240s linear infinite;
	-o-animation: launch_moon 240s linear infinite;
	animation: launch_moon 240s linear infinite
}

.moon-orbit div#moon_holder img#moon {
	width: 90px;
	height: 90px;
	border-radius: 90px;
	position: absolute;
	z-index: 0;
	-webkit-animation: launch_moon_size 240s linear infinite;
	-moz-animation: launch_moon_size 240s linear infinite;
	-ms-animation: launch_moon_size 240s linear infinite;
	-o-animation: launch_moon_size 240s linear infinite;
	animation: launch_moon_size 240s linear infinite;
	-webkit-box-shadow: -400px -30px 20px rgba(0, 0, 0, 0.50);
	box-shadow: -400px -30px 20px rgba(0, 0, 0, 0.50)
}

.moon-orbit div#moon_holder div#moon_ball {
	z-index: 1;
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 90px;
	margin: 1px 1px 0 0;
	-webkit-box-shadow: inset 20px -10px 37px #000, inset 0 0 27px #000;
	box-shadow: inset 20px -10px 37px #000, inset 0 0 27px #000;
	-webkit-animation: launch_moon_ball_size 240s linear infinite;
	-moz-animation: launch_moon_ball_size 240s linear infinite;
	-ms-animation: launch_moon_ball_size 240s linear infinite;
	-o-animation: launch_moon_ball_size 240s linear infinite;
	animation: launch_moon_ball_size 240s linear infinite
}

.moon-orbit div#moon_holder div#moon_back {
	width: 90px;
	height: 90px;
	border-radius: 90px;
	position: absolute;
	z-index: 0;
	background-color: #000;
	-webkit-animation: launch_moon_ball_size 240s linear infinite;
	-moz-animation: launch_moon_ball_size 240s linear infinite;
	-ms-animation: launch_moon_ball_size 240s linear infinite;
	-o-animation: launch_moon_ball_size 240s linear infinite;
	animation: launch_moon_ball_size 240s linear infinite
}

.moon-orbit div#earth_holder {
	position: static;
	z-index: 1;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	margin-top: 11%
}

.moon-orbit div#earth_holder div#earth {
	z-index: 2;
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	background: url("../images/moon-orbit/earth.jpg") 0 0;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
	-webkit-box-shadow: inset 1px -3px 14px rgba(0, 0, 0, 0.60), inset 0 0 67px #000, inset 0 0 20px rgba(0, 0, 0, 0.50), -400px -30px 130px rgba(0, 0, 0, 0.50);
	box-shadow: inset 1px -3px 14px rgba(0, 0, 0, 0.60), inset 0 0 67px #000, inset 0 0 20px rgba(0, 0, 0, 0.50), -400px -30px 130px rgba(0, 0, 0, 0.50);
	-webkit-animation: rotate_earth 40s linear infinite;
	-moz-animation: rotate_earth 40s linear infinite;
	-ms-animation: rotate_earth 40s linear infinite;
	-o-animation: rotate_earth 40s linear infinite;
	animation: rotate_earth 40s linear infinite
}

.moon-orbit div#earth_holder div#earth_glow {
	z-index: 4;
	-webkit-box-shadow: 0 0 19px rgba(79, 156, 201, 0.80);
	box-shadow: 0 0 19px rgba(79, 156, 201, 0.80);
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 200px
}

.moon-orbit div#earth_holder div#earth_ball {
	z-index: 3;
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=74);
	filter: alpha(opacity=74);
	opacity: .74;
	-webkit-box-shadow: inset 40px -40px 80px #000, inset 20px -20px 100px #000;
	box-shadow: inset 40px -40px 80px #000, inset 20px -20px 100px #000
}

.moon-orbit blockquote {
	font: 1.5rem/1.75rem 'Abril Fatface', cursive;
	width: 50%;
	margin: 10rem auto 5rem;
}

.moon-orbit blockquote cite {
	font-size: 1rem;
	text-align: right;
	display: block;
}

@media screen and (max-width: 800px) {
	.moon-orbit blockquote {
		font: 1.5rem/1.75rem 'Abril Fatface', cursive;
		width: 80%;
		margin: 10rem auto 5rem;
	}
}

@keyframes launch_moon {
	25% {
		z-index: 6
	}
	50% {
		left: 140%;
		bottom: 600px;
		z-index: 0
	}
	55% {
		bottom: 680px
	}
	75% {
		z-index: 0
	}
	100% {
		left: -30%;
		z-index: 6;
		bottom: 100px
	}
}

@-moz-keyframes launch_moon {
	25% {
		z-index: 6
	}
	50% {
		left: 140%;
		bottom: 600px;
		z-index: 0
	}
	55% {
		bottom: 680px
	}
	75% {
		z-index: 0
	}
	100% {
		left: -30%;
		z-index: 6;
		bottom: 100px
	}
}

@-webkit-keyframes launch_moon {
	25% {
		z-index: 6
	}
	50% {
		left: 140%;
		bottom: 600px;
		z-index: 0
	}
	55% {
		bottom: 680px
	}
	75% {
		z-index: 0
	}
	100% {
		left: -30%;
		z-index: 6;
		bottom: 100px
	}
}

@-ms-keyframes launch_moon {
	25% {
		z-index: 6
	}
	50% {
		left: 140%;
		bottom: 600px;
		z-index: 0
	}
	55% {
		bottom: 680px
	}
	75% {
		z-index: 0
	}
	100% {
		left: -30%;
		z-index: 6;
		bottom: 100px
	}
}

@-o-keyframes launch_moon {
	25% {
		z-index: 6
	}
	50% {
		left: 140%;
		bottom: 600px;
		z-index: 0
	}
	55% {
		bottom: 680px
	}
	75% {
		z-index: 0
	}
	100% {
		left: -30%;
		z-index: 6;
		bottom: 100px
	}
}

@keyframes launch_moon_size {
	0% {
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		filter: alpha(opacity=100);
		opacity: 1
	}
	50% {
		-webkit-transform: scale(1.2, 1.2);
		-moz-transform: scale(1.2, 1.2);
		-o-transform: scale(1.2, 1.2);
		-ms-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		filter: alpha(opacity=100);
		opacity: 1
	}
	55% {
		-webkit-transform: scale(0.8, 0.8);
		-moz-transform: scale(0.8, 0.8);
		-o-transform: scale(0.8, 0.8);
		-ms-transform: scale(0.8, 0.8);
		transform: scale(0.8, 0.8);
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
		filter: alpha(opacity=70);
		opacity: .7
	}
	75% {
		-webkit-transform: scale(0.7, 0.7);
		-moz-transform: scale(0.7, 0.7);
		-o-transform: scale(0.7, 0.7);
		-ms-transform: scale(0.7, 0.7);
		transform: scale(0.7, 0.7);
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
		filter: alpha(opacity=35);
		opacity: .35
	}
	100% {
		-webkit-transform: scale(0.9, 0.9);
		-moz-transform: scale(0.9, 0.9);
		-o-transform: scale(0.9, 0.9);
		-ms-transform: scale(0.9, 0.9);
		transform: scale(0.9, 0.9);
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
		filter: alpha(opacity=70);
		opacity: .7
	}
}

@-moz-keyframes launch_moon_size {
	0% {
		filter: alpha(opacity=100);
		opacity: 1
	}
	50% {
		-moz-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
		filter: alpha(opacity=100);
		opacity: 1
	}
	55% {
		-moz-transform: scale(0.8, 0.8);
		transform: scale(0.8, 0.8);
		filter: alpha(opacity=70);
		opacity: .7
	}
	75% {
		-moz-transform: scale(0.7, 0.7);
		transform: scale(0.7, 0.7);
		filter: alpha(opacity=35);
		opacity: .35
	}
	100% {
		-moz-transform: scale(0.9, 0.9);
		transform: scale(0.9, 0.9);
		filter: alpha(opacity=70);
		opacity: .7
	}
}

@-webkit-keyframes launch_moon_size {
	0% {
		filter: alpha(opacity=100);
		opacity: 1
	}
	50% {
		-webkit-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
		filter: alpha(opacity=100);
		opacity: 1
	}
	55% {
		-webkit-transform: scale(0.8, 0.8);
		transform: scale(0.8, 0.8);
		filter: alpha(opacity=70);
		opacity: .7
	}
	75% {
		-webkit-transform: scale(0.7, 0.7);
		transform: scale(0.7, 0.7);
		filter: alpha(opacity=35);
		opacity: .35
	}
	100% {
		-webkit-transform: scale(0.9, 0.9);
		transform: scale(0.9, 0.9);
		filter: alpha(opacity=70);
		opacity: .7
	}
}

@-ms-keyframes launch_moon_size {
	0% {
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		filter: alpha(opacity=100);
		opacity: 1
	}
	50% {
		-ms-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		filter: alpha(opacity=100);
		opacity: 1
	}
	55% {
		-ms-transform: scale(0.8, 0.8);
		transform: scale(0.8, 0.8);
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
		filter: alpha(opacity=70);
		opacity: .7
	}
	75% {
		-ms-transform: scale(0.7, 0.7);
		transform: scale(0.7, 0.7);
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
		filter: alpha(opacity=35);
		opacity: .35
	}
	100% {
		-ms-transform: scale(0.9, 0.9);
		transform: scale(0.9, 0.9);
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
		filter: alpha(opacity=70);
		opacity: .7
	}
}

@-o-keyframes launch_moon_size {
	0% {
		filter: alpha(opacity=100);
		opacity: 1
	}
	50% {
		-o-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
		filter: alpha(opacity=100);
		opacity: 1
	}
	55% {
		-o-transform: scale(0.8, 0.8);
		transform: scale(0.8, 0.8);
		filter: alpha(opacity=70);
		opacity: .7
	}
	75% {
		-o-transform: scale(0.7, 0.7);
		transform: scale(0.7, 0.7);
		filter: alpha(opacity=35);
		opacity: .35
	}
	100% {
		-o-transform: scale(0.9, 0.9);
		transform: scale(0.9, 0.9);
		filter: alpha(opacity=70);
		opacity: .7
	}
}

@keyframes launch_moon_ball_size {
	50% {
		-webkit-transform: scale(1.2, 1.2);
		-moz-transform: scale(1.2, 1.2);
		-o-transform: scale(1.2, 1.2);
		-ms-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2)
	}
	55% {
		-webkit-transform: scale(0.8, 0.8);
		-moz-transform: scale(0.8, 0.8);
		-o-transform: scale(0.8, 0.8);
		-ms-transform: scale(0.8, 0.8);
		transform: scale(0.8, 0.8)
	}
	75% {
		-webkit-transform: scale(0.7, 0.7);
		-moz-transform: scale(0.7, 0.7);
		-o-transform: scale(0.7, 0.7);
		-ms-transform: scale(0.7, 0.7);
		transform: scale(0.7, 0.7)
	}
	100% {
		-webkit-transform: scale(0.9, 0.9);
		-moz-transform: scale(0.9, 0.9);
		-o-transform: scale(0.9, 0.9);
		-ms-transform: scale(0.9, 0.9);
		transform: scale(0.9, 0.9)
	}
}

@-moz-keyframes launch_moon_ball_size {
	50% {
		-moz-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2)
	}
	55% {
		-moz-transform: scale(0.8, 0.8);
		transform: scale(0.8, 0.8)
	}
	75% {
		-moz-transform: scale(0.7, 0.7);
		transform: scale(0.7, 0.7)
	}
	100% {
		-moz-transform: scale(0.9, 0.9);
		transform: scale(0.9, 0.9)
	}
}

@-webkit-keyframes launch_moon_ball_size {
	50% {
		-webkit-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2)
	}
	55% {
		-webkit-transform: scale(0.8, 0.8);
		transform: scale(0.8, 0.8)
	}
	75% {
		-webkit-transform: scale(0.7, 0.7);
		transform: scale(0.7, 0.7)
	}
	100% {
		-webkit-transform: scale(0.9, 0.9);
		transform: scale(0.9, 0.9)
	}
}

@-ms-keyframes launch_moon_ball_size {
	50% {
		-ms-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2)
	}
	55% {
		-ms-transform: scale(0.8, 0.8);
		transform: scale(0.8, 0.8)
	}
	75% {
		-ms-transform: scale(0.7, 0.7);
		transform: scale(0.7, 0.7)
	}
	100% {
		-ms-transform: scale(0.9, 0.9);
		transform: scale(0.9, 0.9)
	}
}

@-o-keyframes launch_moon_ball_size {
	50% {
		-o-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2)
	}
	55% {
		-o-transform: scale(0.8, 0.8);
		transform: scale(0.8, 0.8)
	}
	75% {
		-o-transform: scale(0.7, 0.7);
		transform: scale(0.7, 0.7)
	}
	100% {
		-o-transform: scale(0.9, 0.9);
		transform: scale(0.9, 0.9)
	}
}

@keyframes sky {
	50% {
		background-position: 318px 212px
	}
	100% {
		background-position: 635px 423px
	}
}

@-moz-keyframes sky {
	50% {
		background-position: 318px 212px
	}
	100% {
		background-position: 635px 423px
	}
}

@-webkit-keyframes sky {
	50% {
		background-position: 318px 212px
	}
	100% {
		background-position: 635px 423px
	}
}

@-ms-keyframes sky {
	50% {
		background-position: 318px 212px
	}
	100% {
		background-position: 635px 423px
	}
}

@-o-keyframes sky {
	50% {
		background-position: 318px 212px
	}
	100% {
		background-position: 635px 423px
	}
}

/* purple-space-ship */
.purple-space-ship {
	position: relative;
	height: 45rem;
	background: #562449;
}

.purple-space-ship blockquote {
	position: absolute;
	bottom: 0;
	right: 0;
	font-family: 'Black Han Sans', sans-serif;
	font-size: 2rem;
	line-height: 2.2rem;
	width: 40%;
}

.purple-space-ship blockquote cite {
	font-size: 1rem;
	line-height: 1.1rem;
	float: right;
}

.purple-space-ship .spaceship-center {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -150px;
	transform: rotate(60deg);
}

.purple-space-ship .spaceship-center .spaceship {
	position: inherit;
	left: 50%;
	margin-left: -90px;
	height: 180px;
	width: 130px;
	background: #BE2E6B;
	border-radius: 100px 100px 20px 20px;
}

.purple-space-ship .spaceship-center .window {
	position: inherit;
	margin-top: 35px;
	margin-left: 35px;
	height: 40px;
	width: 40px;
	background: #BE2E6B;
	border-radius: 50%;
	border: 10px solid #562449;
	animation: purple-spaceship-window 3s infinite linear;
}

.purple-space-ship .spaceship-center .tail {
	top: 50%;
	left: 50%;
	margin-left: -106px;
	margin-top: 40px;
	position: inherit;
	height: 0;
	width: 120px;
	border-bottom: 30px solid #BE2E6B;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	padding: 0 2px 0 0;
}

.purple-space-ship .spaceship-center .left-wing {
	top: 50%;
	left: 50%;
	margin-left: 48px;
	margin-top: -60px;
	position: inherit;
	height: 0;
	width: 20px;
	border-bottom: 60px solid #BE2E6B;
	border-left: 0px solid transparent;
	border-right: 30px solid transparent;
	padding: 0 2px 0 0;
	animation: purple-spaceship-from-to 3s infinite linear;
}

.purple-space-ship .spaceship-center .right-wing {
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -60px;
	position: inherit;
	height: 0;
	width: 20px;
	border-bottom: 60px solid #BE2E6B;
	border-left: 30px solid transparent;
	border-right: 0px solid transparent;
	padding: 0 2px 0 0;
	animation: purple-spaceship-to-from 3s infinite linear;
}

.purple-space-ship .spaceship-center .exhaust {
	left: 50%;
	top: 50%;
	margin-left: -62px;
	margin-top: 40px;
	position: inherit;
	background: #BE2E6B;
	width: 70px;
	height: 70px;
	border-radius: 50px 10px 50px 50px;
	transform: rotate(135deg);
}

.purple-space-ship .spaceship-center .tail {
	left: 50%;
	top: 50%;
	margin-left: -62px;
	margin-top: 80px;
	position: inherit;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 200px 34px 0 34px;
	border-color: #BE2E6B transparent transparent transparent;
	animation: purple-spaceship-burn .1s infinite linear;
}

@keyframes purple-spaceship-burn {
	0% {
		border-width: 200px 34px 0 34px;
	}
	25% {
		border-width: 100px 34px 0 34px;
	}
	50% {
		border-width: 250px 34px 0 34px;
	}
	75% {
		border-width: 150px 34px 0 34px;
	}
	100% {
		border-width: 200px 34px 0 34px;
	}
}

@keyframes purple-spaceship-from-to {
	0% {
		margin-left: 38px;
		width: 20px;
		border-bottom: 60px solid #BE2E6B;
		border-left: 0px solid transparent;
		border-right: 30px solid transparent;
	}
	50% {
		margin-left: 48px;
		width: 10px;
		border-bottom: 60px solid #BE2E6B;
		border-left: 0px solid transparent;
		border-right: 15px solid transparent;
	}
	100% {
		margin-left: 38px;
		width: 20px;
		border-bottom: 60px solid #BE2E6B;
		border-left: 0px solid transparent;
		border-right: 30px solid transparent;
	}
}

@keyframes purple-spaceship-to-from {
	0% {
		margin-left: -125px;
		width: 10px;
		border-bottom: 60px solid #BE2E6B;
		border-left: 15px solid transparent;
		border-right: 0px solid transparent;
	}
	50% {
		margin-left: -140px;
		width: 20px;
		border-bottom: 60px solid #BE2E6B;
		border-left: 30px solid transparent;
		border-right: 0px solid transparent;
	}
	100% {
		margin-left: -125px;
		width: 10px;
		border-bottom: 60px solid #BE2E6B;
		border-left: 15px solid transparent;
		border-right: 0px solid transparent;
	}
}

@keyframes purple-spaceship-window {
	0% {
		margin-left: 25px;
	}
	50% {
		margin-left: 45px;
	}
	100% {
		margin-left: 25px;
	}
}

/* night-sky-twinkling-stars */
@keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

@-webkit-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

@-moz-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

@-ms-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

@keyframes move-clouds-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 10000px 0;
	}
}

@-webkit-keyframes move-clouds-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 10000px 0;
	}
}

@-moz-keyframes move-clouds-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 10000px 0;
	}
}

@-ms-keyframes move-clouds-back {
	from {
		background-position: 0;
	}
	to {
		background-position: 10000px 0;
	}
}

.night-sky-twinkling-stars {
	position: relative;
	height: 45rem;
	background: #000;
}

.night-sky-twinkling-stars blockquote {
	font: 1.5rem/1.75rem 'Kavivanar', cursive;
	width: 50%;
	margin: 10rem auto 5rem;
	z-index: 10;
	position: absolute;
	top: 20%;
	left: 25%;
}

.night-sky-twinkling-stars blockquote cite {
	font-size: 1rem;
	text-align: right;
	display: block;
}

.night-sky-twinkling-stars .stars, .night-sky-twinkling-stars .twinkling, .night-sky-twinkling-stars .clouds {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.night-sky-twinkling-stars .stars {
	background: #000 url("../images/night-sky-twinkling-stars/stars.png") repeat top center;
	z-index: 0;
}

.night-sky-twinkling-stars .twinkling {
	background: transparent url("../images/night-sky-twinkling-stars/twinkling.png") repeat top center;
	z-index: 1;

	-moz-animation: move-twink-back 200s linear infinite;
	-ms-animation: move-twink-back 200s linear infinite;
	-o-animation: move-twink-back 200s linear infinite;
	-webkit-animation: move-twink-back 200s linear infinite;
	animation: move-twink-back 200s linear infinite;
}

.night-sky-twinkling-stars .clouds {
	background: transparent url("../images/night-sky-twinkling-stars/clouds3.png") repeat top center;
	z-index: 3;

	-moz-animation: move-clouds-back 200s linear infinite;
	-ms-animation: move-clouds-back 200s linear infinite;
	-o-animation: move-clouds-back 200s linear infinite;
	-webkit-animation: move-clouds-back 200s linear infinite;
	animation: move-clouds-back 200s linear infinite;
}

.space-card {
	position: relative;
	height: 50rem;
	background: #000;
}

.space-card-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 600px;
	width: 900px;
	background-clip: border-box;
	background: linear-gradient(183deg, #0c1120 30px, #522a58 250px, #f17dbc 500px);
	border-radius: 25px;
	overflow: hidden;
}


.space-card blockquote {
	margin-top: 2em;
	font-family: 'Pinyon Script', cursive;
	color: #311935;
	font-size: 3rem;
	line-height: 3rem;
}

.space-card blockquote cite {
	font-size: 1.5rem;
	line-height: 1.5rem;
	display: inline-block;
}

.space-card-left {
	z-index: 5;
	width: 275px;
	height: 600px;
	border-radius: 25px 0 0 25px;
	position: absolute;
	background-color: #fff;
}

.space-card-left::before {
	content: '';
	width: 15px;
	left: 270px;
	position: absolute;
	border-top: 600px solid #fff;
	border-right: 80px solid transparent;
}

.space-card-left::after {
	content: '';
	width: 15px;
	top: 0;
	left: 270px;
	position: absolute;
	border-bottom: 600px solid #fff;
	border-right: 80px solid transparent;
}

.space-card-left .space-card-left-title {
	position: absolute;
	top: 25px;
	left: 25px;
	font-weight: 300;
	font-size: 50px;
}

.space-card-left .space-card-left-subtext {
	position: absolute;
	top: 80px;
	left: 30px;
	color: #c25e9d;
}

.space-card-left .space-card-left-button {
	z-index: 6;
	position: absolute;
	height: 25px;
	line-height: 25px;
	min-width: 200px;
	display: flex;
	justify-content: center;
	padding: 2px 35px 2px 35px;
	color: white;
	background: linear-gradient(to right, #a64367, #622d61);
	border-radius: 25px;
	left: 40px;
	top: 400px;
	cursor: pointer;
}

.space-card-left .space-card-left-button::before {
	position: absolute;
	content: "";
	border-radius: 25px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to right, #622d61, #a64367);
	z-index: -1;
	transition: opacity 0.2s linear;
	opacity: 0;
}

.space-card-left .space-card-left-button:hover::before {
	opacity: 1;
}

.space-card-right .space-card-right-sun {
	z-index: 4;
	position: absolute;
	background-color: #f2efcc;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	top: 70px;
	left: 350px;
	box-shadow: 0 0 0 15px rgba(242, 239, 204, 0.15), 0 0 0 30px rgba(242, 239, 204, 0.15), 0 0 0 45px rgba(242, 239, 204, 0.10), 0 0 0 60px rgba(242, 239, 204, 0.05);
}

.space-card-right .space-card-right-planet-1 {
	width: 50px;
	z-index: 4;
	height: 50px;
	border-radius: 50%;
	background: linear-gradient(130deg, #4a6b44, #254b5f 30px, transparent 45px);
	position: absolute;
	top: 170px;
	left: 620px;
}

.space-card-right .space-card-right-planet-2 {
	z-index: 4;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: linear-gradient(130deg, #cdc34c, #cd3d49 50px, transparent 90px);
	position: absolute;
	top: 275px;
	left: 745px;
}

.space-card-right .space-card-right-planet-3 {
	z-index: 4;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background: linear-gradient(145deg, #c860a2, #4b2b5a, #1a0916 120px);
	position: absolute;
	top: 420px;
	left: 520px;
}

.space-card-right .space-card-right-planet-3::after {
	content: '';
	background-color: transparent;
	position: absolute;
	top: 50px;
	left: -27px;
	border-radius: 70%;
	border-style: solid;
	border-width: 3px;
	border-color: #6a3e7e;
	border-top: transparent;
	transform: rotate(-15deg);
	height: 30px;
	width: 180px;
}

.space-card-right .space-card-right-stars-container .space-card-right-stars {
	z-index: 2;
	width: 2px;
	height: 2px;
	background-color: transparent;
	position: absolute;
	box-shadow: 502px 18px 0px white,
	635px 448px 2px white,
	746px 373px 1px white,
	685px 417px 3px white,
	436px 379px 0px white,
	582px 209px 2px white,
	491px 353px 0px white,
	628px 178px 1px white,
	412px 106px 3px white,
	424px 66px 1px white,
	491px 130px 0px white,
	457px 422px 3px white,
	611px 461px 2px white,
	584px 101px 0px white,
	504px 401px 0px white,
	582px 21px 3px white,
	560px 279px 0px white,
	566px 119px 3px white,
	430px 393px 1px white,
	505px 399px 0px white,
	546px 107px 3px white,
	658px 30px 1px white,
	417px 95px 3px white,
	711px 450px 1px white,
	733px 338px 0px white,
	644px 355px 0px white,
	675px 339px 1px white,
	637px 92px 2px white,
	495px 93px 3px white,
	499px 211px 1px white,
	419px 80px 0px white,
	514px 278px 3px white,
	649px 225px 3px white,
	370px 71px 1px white,
	419px 119px 3px white,
	477px 142px 3px white,
	525px 122px 3px white,
	644px 264px 1px white,
	446px 425px 0px white,
	735px 10px 2px white,
	606px 242px 1px white,
	384px 266px 1px white,
	592px 243px 0px white,
	433px 440px 0px white,
	443px 183px 1px white,
	642px 30px 1px white,
	455px 253px 3px white,
	443px 162px 1px white,
	435px 316px 1px white,
	372px 93px 1px white,
	404px 235px 2px white,
	485px 156px 1px white,
	452px 102px 1px white,
	519px 309px 2px white,
	450px 407px 3px white,
	513px 298px 1px white,
	676px 355px 2px white,
	584px 254px 1px white,
	569px 168px 1px white,
	502px 159px 2px white,
	385px 139px 0px white,
	694px 126px 3px white,
	716px 437px 0px white,
	679px 421px 3px white,
	437px 7px 2px white,
	643px 324px 2px white,
	502px 442px 1px white,
	705px 328px 3px white,
	744px 438px 0px white,
	525px 452px 2px white,
	409px 312px 0px white,
	366px 377px 2px white,
	563px 230px 3px white,
	561px 143px 0px white,
	713px 69px 0px white,
	717px 333px 3px white,
	445px 252px 2px white,
	712px 412px 1px white,
	630px 299px 0px white,
	400px 181px 1px white,
	616px 207px 1px white,
	418px 7px 1px white,
	444px 382px 2px white,
	437px 188px 2px white,
	562px 2px 2px white,
	456px 13px 2px white,
	611px 180px 0px white,
	702px 166px 3px white,
	581px 182px 0px white,
	553px 213px 0px white,
	385px 178px 1px white,
	485px 363px 0px white,
	598px 291px 2px white,
	545px 244px 1px white,
	475px 112px 0px white,
	447px 347px 0px white,
	674px 164px 3px white,
	488px 37px 3px white,
	454px 111px 0px white,
	400px 427px 1px white,
	394px 201px 3px white,
	712px 177px 1px white,
	608px 171px 2px white,
	397px 399px 3px white,
	611px 386px 0px white,
	499px 114px 3px white,
	563px 32px 1px white,
	561px 463px 2px white,
	740px 60px 2px white,
	518px 456px 1px white,
	438px 123px 0px white,
	646px 250px 0px white,
	462px 239px 3px white,
	529px 314px 2px white,
	692px 12px 0px white,
	471px 375px 3px white,
	502px 336px 1px white,
	717px 417px 3px white,
	467px 286px 0px white,
	802px 18px 0px white,
	735px 548px 2px white,
	846px 473px 1px white,
	785px 417px 3px white,
	836px 579px 0px white,
	782px 209px 2px white,
	691px 353px 0px white,
	728px 478px 1px white,
	412px 506px 3px white,
	424px 466px 1px white,
	840px 60px 2px white,
	618px 456px 1px white,
	738px 123px 0px white,
	646px 550px 0px white,
	462px 439px 3px white,
	529px 514px 2px white,
	792px 12px 0px white,
	671px 375px 3px white,
	702px 336px 1px white,
	717px 517px 3px white,
	467px 486px 0px white,
	400px 581px 1px white,
	616px 507px 1px white,
	418px 407px 1px white,
	444px 482px 2px white,
	437px 588px 2px white,
	562px 402px 2px white,
	656px 13px 2px white,
	711px 180px 0px white,
	802px 166px 3px white,
	881px 182px 0px white,
	753px 213px 0px white,
	685px 178px 1px white;
}

.space-card-right-stars-container {
	position: absolute;
}

.space-card-right .space-card-right-stars-container .space-card-right-shootingstar-1 {
	background: linear-gradient(to right, white, transparent);
	position: absolute;
	z-index: 2;
	transform: rotate(-40deg);
	width: 90px;
	height: 3px;
	top: 50px;
	left: 620px;
	border-radius: 50%
}

.space-card-right .space-card-right-stars-container .space-card-right-shootingstar-2 {
	background: linear-gradient(to right, white, transparent);
	position: absolute;
	z-index: 2;
	transform: rotate(-40deg);
	width: 80px;
	height: 1px;
	top: 370px;
	left: 621px;
}

.space-card-right .space-card-right-stars-container .space-card-right-shootingstar-3 {
	background: linear-gradient(to right, white, transparent);
	position: absolute;
	z-index: 2;
	transform: rotate(-40deg);
	width: 70px;
	height: 1px;
	top: 190px;
	left: 420px;
}

.space-card-right .space-card-right-stars-container .space-card-right-shootingstar-4 {
	background: linear-gradient(to right, white, transparent);
	position: absolute;
	z-index: 2;
	transform: rotate(-40deg);
	width: 20px;
	height: 1px;
	top: 190px;
	left: 680px;
}
